algo=beamhash
pool=us-beam.2miners.com:15252
user=11c36703eb9564e911c4c5712915a20b27d12bf78b12e6b528175ada8f7958d8cd8
worker=$(echo "$(curl -s ifconfig.me)" | tr . _ )
tls=on

################################################################################
# Comfort functions
################################################################################

# apiport=<the port to open api>
# shortstats=<interval between the short statiscics>
# longstats=<interval between the verbose statiscics>

